magichexagon/.idea/.name
magichexagon/.idea/magichexagon.iml
magichexagon/.idea/misc.xml
magichexagon/.idea/modules.xml
magichexagon/.idea/vcs.xml
magichexagon/.idea/workspace.xml
magichexagon/analysis.pyc
magichexagon/search.pyc
magichexagon/utils.pyc
